* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://99px.ru/sstorage/53/2014/03/tmb_98532_3403.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 1064px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
    position: relative;
    height: 149px;
}


.logo-link {
    font-family: AdobeInvisFont, Verdana-Bold, Courier;
    text-decoration: none;
}

.orange {
    display: none;
    position: absolute;
    }

.logo-link:hover .logo {
    display: none;
}

.logo-link:hover .orange {
    display: block;

}


.logo-text {
    display: inline-block;
    width: 106px;
    height: 45px;
    text-align: left;
    color: white;
    position: absolute;
    top: 60px;
    left: 55px;
    line-height: 20px;

}

.Milan {
    text-transform: uppercase;
    font-size: 29px;
}

.holi {
    text-transform: uppercase;
    font-size: 18px;
}
.logo-link:hover .logo-text {
   color: #F26522;
}

.contact {
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
    float: right;

}

.contact p {
    text-align: right;
    padding-top: 4px;

}


.clearfix1:after {
    content: '';
    display: block;
    clear: both;
}


.gradient {
    width: 304px;
    position: relative;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}
.gradient img {
    max-width: 300px;
}


main {
    font-family: AdobeInvisFont, Courier, Verdana;
}

a {
    color: white;
    text-decoration: none;
}

.card {
    float: left;
    margin-right: 76px;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:nth-child(n+4) {
    padding-top: 50px;
}

.card-title {
    padding: 17px 0;
    text-align: center;
    font-size: 18px;
}

.card-title:hover {
    color: #F26522;
}

.img-container {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.description {
    background-color: #F26522;
    padding: 15px 20px;
    position: absolute;
    bottom: -67px;
    left: 0;
    right: 0;
    transition: 1s;
}

.price {
    display: inline-block;
}

.view-details {
    float: right;
}

.card:hover .description {
    transform: translateY(-67px);

}

.view-details::after {
    content: " >";

}

.Copyright {
    font-family: AdobeInvisFont, Courier, Verdana;
    padding-top: 50px;
    font-size: 12px;
    color: white;
    text-align: center;
}

